---
title: Unique Industrial Equipment Solutions
hero: Discover Premium Industrial Equipment
subtitle: Sourcing Quality Machinery from Korea and Japan
---

<div class="content" id="products">
  <section>
    <div class="container">
      <ul class="row list-unstyled">
        {% for product in site.products %}
        <li class="col-12 col-md-6 col-lg-4 mb-4">
          <div class="card h-100">
            <div class="images">
              <a href="{{ product.url }}">
                <img src="{{ site.baseurl }}{{ product.base-image-src }}" class="card-img-top"
                  alt="{{ product.base-image-alt-text }}">
              </a>
            </div>
            <div class="card-body">
              <h4 class="card-title"><a href="{{ product.url }}">{{ product.name }}</a></h4>
              <p class="card-text">{{ product.description_markdown | truncate: 45 | markdownify }}</p>
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
  </section>

  {% include buy-contact-us.html title="Want To Buy" %}

</div>
