.contact-box {
  @extend %flexbox;
  @include flex-flow(wrap);
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 0 50px 0;

  .contact-details {
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    @media #{$desktop} {
      -webkit-flex: 1;
      flex: 1;
    }
  }

  .contact-details {
    font-size: 0.8em;

    a svg {
      position: relative;
      top: 5px;
    }

    a {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: block;
    }
  }
}

.map {
  width: 100%;
  height: 80%; /* Maintain aspect ratio */
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-top: 20px; /* Space between contact details and map */

  iframe {
    width: 100%;
    height: 100%; /* Ensure the iframe fills the container */
    border: 0; /* Remove default border */
  }
}

@media #{$desktop} {
  .contact-details {
    font-size: 0.9em;
  }
}
