---
layout: default
---
<div class="content">
  <section class="page">
    <div class="container">
      <div class="product-container">
        <div class="images">
          <div class="image" data-item-id="{{ pag.name }}">
            <a href="{{ include.page.url }}">
              <img src="{{ site.baseurl }}{{ page.base-image-src }}" alt="">
            </a>
          </div>
        </div>
        <div class="product-details" id="add">
          <h3>{{ page.name }}</h3>
          {{ page.description_markdown | markdownify }}
        </div>
      </div>
    </div>

  </section>

  {% if page.images and page.images.size > 1 %}
  <section>
    <div class="container mb-3">
      <h1>More Images</h1>
    </div>

    {% include product-images.html product=page %}
  </section>
  {% endif %}

  {% include buy-contact-us.html %}

</div>
